<!-- show_charts.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Dosya Yükle</title>
</head>
<body>
    <h2>Tüm Grafikler</h2>

  <div>
    <img src="{% static 'scatter_plot1.png' %}" alt="Scatter Plot 1">
  </div>

  <div>
    <img src="{% static 'scatter_plot2.png' %}" alt="Scatter Plot 2">
  </div>

  <div>
    <img src="{% static 'line_plot.png' %}" alt="Line Plot">
  </div>

  <div>
    <img src="{% static 'scatter_plot3.png' %}" alt="Scatter Plot 3">
  </div>
</body>
</html>
